.subscribe__title{
    font-size: 13px;
    color: #000;
    margin: 0;
    padding: 0 0 20px 0;
}

.unsubscribe_text_gray
{
    font-size: 13px;
    color: #a0a0a0;
    margin: 0;
    padding: 10px 0 10px 0;
}


.subscribe__box{
    padding: 0 0 20px 0;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px !important;
}

.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.alert-box{
    max-width: 300px;
}

input[type="button"] {
    border: none;
    color: #fff;
    text-shadow: none;
    font-weight: normal;
    padding: 5px 10px;
    display: inline-block;
    border-radius: 3px;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    background: #66676a;
    background: linear-gradient(to bottom, #8f8e90 0%, #535356 100%);
    background: #565254 url(data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjUwMHB4IiBoZWlnaHQ9IjUwMHB4IiB4b…AiIHk9IjAiIHdpZHRoPSI1MDAiIGhlaWdodD0iNTAwIiAvPgogPC9nPgo8L3N2Zz4KICAgIA==) top repeat-x;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8f8e90), color-stop(100%,#535356));
    background: -webkit-linear-gradient(top, #8f8e90 0%,#535356 100%);
    background: -moz-linear-gradient(top, #8f8e90 0%,#535356 100%);
    background: -ms-linear-gradient(top, #8f8e90 0%,#535356 100%);
    background: -o-linear-gradient(top, #8f8e90 0%,#535356 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f8e90', endColorstr='#535356',GradientType=0 );
}
